pkgbase = librist
	pkgdesc = A library that can be used to add the RIST protocol to applications
	pkgver = 0.2.7
	pkgrel = 1
	url = https://code.videolan.org/rist/librist/
	arch = x86_64
	license = BSD
	makedepends = meson
	makedepends = cmake
	makedepends = cmocka
	makedepends = lz4
	depends = cjson
	depends = mbedtls
	source = librist-0.2.7::https://code.videolan.org/rist/librist/-/archive/v0.2.7/librist-v0.2.7.tar.bz2
	source = 010-librist-disable-multicast-tests.patch
	sha512sums = 491f3ce0fa7b9698a579caf6c022cf355afdc37da8e00c0c63b49988a830857bd8019ee69b9bd67a035734be4947869085ab797cb625039b50ae601631f3de18
	sha512sums = 757fc06f1315b3a63d3f9b32ca028edd1243e6e9e7f84c84036786006c73a801dea187e8cefda3936039c44e3b95c59b5cb8923df00e7f3b655e74505eedc7d9

pkgname = librist
